body {
  background-color:#FF0000;
  margin: 0;
}

#one {
  width: 150px;
  height: 100px;
  background-color: #000;
}

#two {
  width: 100px;
  height: 200px;
  background-color: #fff;
}

#three {
  width: 100px;
  height: 100px;
  background-color: #000;
}

div {
  float: left;
}

div {
  float: none;
  position:absolute;
}

#four {
  width: 20px;
  height: 20px;
  background-color: #fff;
  top: 70px;
  left: -30px;
}


